@model IEnumerable<Assig1.Models.Offence>

@{
    ViewData["Title"] = "Index";
}

<div class="text-dark bg-gradient bg-warning p-2 my-2 border rounded">
    <h2>Index</h2>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiationFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultLevy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorporateFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemeritPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiationFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdultLevy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorporateFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DemeritPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.SectionId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OffenceCode">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OffenceCode">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OffenceCode">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
